/* 
.main-container{
    border: 1px solid red;
} */


/* best */

* {
    margin: auto;
}

/* divs */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    height: 21px;
    color: white;
    background-color: black;
}

.head>.left {
    margin-left: 48%;
}

.head>p {
    width: 28%;
}

.head>.right,
.head>.left {
    width: 9%;
    display: flex;
    text-align: center;
}

.top,
.middle,
.bottom {
    display: flex;
    justify-content: center;
}

.top>.left,
.top>.right,
.middle>.left,
.middle>.right,
.bottom>.right,
.bottom>.left {
    width: 100%;
    height: 100%;
}

.top>.right,
.middle>.right,
.bottom>.right {
    width: 28%;
}

.top {
    height: 20.7%;
}

.top>.right {
    display: flex;
    align-items: center;
}

.top>.right>img {
    height: 94%;
    margin: 5px;
}

.top>.left>.information {
    height: 31px;
    background-color: white;
    border: 2px solid rgb(196, 187, 187);
    padding-left : 23px ;
}

.top>.left>.question-type {
    color: orangered;
}

.timer-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer-sec>.left {
    margin-left: 0%;
}

.timer-sec>.right {
    display: inline-block;
    margin-right: 0.5%;
}

.instruction-btn {
    border-radius: 50%;
    padding: 2px 7px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.i {
    padding: 2px 8px;
}

.middle {
    height: 65%;
}

.middle>.left {
    overflow-y: auto;
    padding: 0px 4px;
}

.middle>.right {
    overflow-y: auto;
    border: 2px solid black;
}

.bottom {
    margin-top: 2px;
    height: 40px;
}

.bottom>.right>a {
    text-decoration: none;
}

.bottom .navigation {
    text-align: center;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btm-btn {
    display: flex;
    justify-content: center;
}

.btm-btn-left {
    justify-content: end;
    padding: 5px;
    margin-right: 15px;
    margin-left: -2%;
    border: 1px solid gray;
}

.btm-btn-right {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5%;
    color: white;
    background-color: #007bff;
}


 /* Add some basic styling for better presentation */
label {
    display: block;
    margin-bottom: 10px;
}
fieldset {
    border: 2px solid #333; 
    padding: 10px;
    margin: 0;
}
        
#header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}